@model User

<h3>Welcome to Our Coffee Shop Club</h3>
<p>@Model.FirstName, you have successfully registered as one of our coffee shop members.</p>
<p>Please enjoy various rewards such as a free cookie, after racking up some points!</p>
